div{
  position: relative;
  width: 100px;
  background: #a8cf45;
  margin: 20px 30px;
  padding: 20px 40px;
  text-align: center;
  font-weight: bolder;
}

.flash:hover{
  -webkit-animation: 0.7s flash 1;
}

@keyframes flash{
  50%{
    opacity: 1;
  }
  25%, 75%{
    opacity: 0;
  }
}
