div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 20px;
  position: relative;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.veloz{
  -webkit-animation: 1s veloz 1;

}

@keyframes veloz{
  0%{
    opacity: 0;
    transform: translateX(0%)

  }
  60%{
    opacity: 1;
    transform: translateX(20%)
                skewX(-30deg);
  }
  80%{
    opacity: 0;
    transform: translateX(-200%)
                skewX(15deg);
  }


}

/*velozIN
@keyframes veloz{
  0%{
    opacity: 0;
    transform: translateX(-200%)
    skewX(30deg);
  }
  60%{
    opacity: 1;
    transform: translateX(-20%)
                skewX(-30deg);
  }
  80%{

    transform: translateX(0%)
                skewX(15deg);
  }


}


*/
