div{
  font-family: 'Arial';
  background-color: #a8cf45;
  margin: 15px 20px;
  position: relative;
  padding: 5px 20px;
  text-align: center;
  font-weight: bolder;
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.vibrador:hover{
  -webkit-animation: 1s vibrador infinite;
}

@keyframes vibrador{
  5%, 25%, 45%, 65%, 85%{
    transform: translateX(-10px);
  }
  15%, 35%, 55%, 75%, 95%{
  transform: translateX(10px);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80%{
  transform: translateY(10px);
  }

}
