body{
  background: darkred;
}

div{
    width: 80px;
    background: #a8cf45;
    margin: 20px 20px;
    font-family:'Arial';
    text-align: center;
    font-weight: bold;
    padding: 25px 30px;
    display: block;
    vertical-align: middle;


}
.resalte_borde{
position: relative;
}

.resalte_borde:before{
  content: '';
position: absolute;
  border: 4px solid white;
  top: 4px;
bottom: 4px;
left: 4px;
right: 4px;
opacity: 0;
transition-duration: 0.5s;
}
.resalte_borde:hover:before{
  opacity: 1;
}


/*
.resalte_borde{
  box-shadow: inset 0 0 0 4px #ddd;
}


.resalte_borde:hover{
  box-shadow: inset 0 0 0 4px #555;
}*/
